<!-- Modal -->
<div class="modal fade" id="assureModal" tabindex="-1" role="dialog" aria-labelledby="assureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="assureModalTitle">{{ loc_data["modal_title"] }}</h4>
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
            </div>
            <div class="modal-body">
                {{ loc_data["modal_body"] }}
            </div>
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-default" data-dismiss="modal">{{ loc_data["btn_label"] }}</button>#}
{#            </div>#}
        </div>
    </div>
</div>