{% extends "base.html" %}>
{% block body %}
<div class="container-fluid content-section bg-secondary text-center text-md-center">

    <div class="row">

        <div class="col-md-12">

            <span class="align-text-bottom"><h2>  {{ loc_data["title"] }} </h2></span>
            <span class="align-text-bottom"><h6 style="color: #1F87B5"><em>{{ loc_data["subheading"] }}</em></h6></span>
        </div>

    </div>
</div>
<p></p>


<div class="col-8 offset-2 h4-info">
    {{ loc_data["content"] | safe }}
    <h5 align="center">
        {{ loc_data["more_html"] | safe }}
    </h5>

</div>

<p></p>
<div class="d-block text-center">
    <img src="{{ url_for('static', filename='images/hearts.jpg') }}">
</div>

<p></p>
<div class="container-fluid text-center text-md-center">

    <div class="row">
    </div>
</div>
{% endblock %}